<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>タスク管理アプリ</title>
    <link rel="stylesheet"th:href="@{css/taskList.css}">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <h1>タスク一覧</h1>
        </header>
		<div class="container">
        <div class="float-end">
            <a th:href="@{/taskAdd}"class="btn">新規登録</a>
        </div>
		</div>
		<div class="container-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Number </th>
                    <th>タスク名 </th>
                    <th>詳細 </th>
                    <th>Status </th>
                    <th>期限 </th>
					<th></th>

                   
                </tr>
            </thead>
            <tbody>
                <tr th:each="tasklist: ${taskList}" th:object="${tasklist}">
                    <td th:text="*{number}"></td>
                    <td th:text="*{name}"></td>
                    <td th:text="*{detail}"></td>
                    <td th:text="*{status}"></td>
                    <td th:text="*{dueDate}"></td>
					<td class="btn_01"><a th:href="@{/taskView/{number}(number=*{number})}" class="btn">編集</a></td>
                    
                </tr>
            </tbody>
        </table>
		</div>
        <footer class="footer">
        </footer>
    </div>
</body>
</html>