.wrapper {
    width: 100%;
}
.header {
    background-color: #6fa24a;
    height: 100px;
}
h1 {
	color: white;
	    font-size: 30px;
	    padding: 28px 0;
		display: flex;
		align-items: center;
		justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}

.form-group-left{
    margin-bottom: 50px;
    padding:220px 0px 0px 0px;
}
.form-group-right {
    text-align: left;
    padding:220px 0px 0px 0px;
}

.form-group{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    padding:25px 0px 0px 0px;
    max-width:600px;
    justify-content: space-around;
}

.text-center{
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

a.btn {
    font-size: 25px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px  160px;
    max-width: 100px;
    padding: 5px 50px;
    color: #000000;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 10px;
    border: 0.2rem solid #6fa24a;
   text-align:center
   
}
.btn {
    font-size: 25px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px  160px;
    max-width: 100px;
    padding: 5px 95px 5px 50px;
    color: #000000;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    border-radius: 10px;
    border: 0.2rem solid #6fa24a;
   text-align:center
   
}
.text-danger{
    margin: 0 50px 0 auto;
}
.textbox-left{
    height: 40px;
    margin: 0 0 0 auto;
    width: 250px;
    letter-spacing: 1px;
    border: 1px solid #736d6d;
    font-size: 20px;
    background-color: #edebeb;
    border-radius: 3px;
    text-align: center;
}
.textbox-right{
    height: 40px;
    margin: 0 0 0 auto;
    width: 250px;
    letter-spacing: 1px;
    border: 1px solid #736d6d;
    font-size: 20px;
    background-color: #edebeb;
    border-radius: 3px;
    text-align: center;
}

.footer {
	background-color: #6fa24a;
	    height: 40px;
	    position: absolute;
	    left: 0;
	    bottom: 0;
	    width: 100%;
}
* {
    margin: 0;
    padding: 0;
}